*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    box-sizing: border-box;
}
.index-form, .result-form{
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: scale(0);
    animation: strench ease-in-out .5s;
    animation-fill-mode: forwards;
}
.index-form{
    top: calc(45% - 80px);
}
.index-form h1{
    text-align: center;
    margin-bottom: 20px;
}
.index-form>form{
    display: flex;
}
.index-form input[type="text"]{
    flex-grow: 1;
    background: #777;
}
input::-webkit-input-placeholder{
    color: #fff;
}
.index-form input{
    padding: 10px 20px;
    height: 40px;
    display: block;
    border: none;
    outline: none;
    color: #fff;
}
.index-form input[type="submit"]{
    cursor: pointer;
    background: #666;
}
.index-form input[type="submit"]:hover{
    background: #888;
}

@keyframes strench {
    50% {
        transform: scale(1.2);
    } 100% {
        transform: scale(1);
    }
}

.result-form{
    min-width: 450px;
    border: 1px solid #888;
    top: calc(45% - 80px);
}

.result-form .top{
    background: #777;
    padding:  8px 25px;
    color: #fff;
}
.result-form .result{
    padding: 25px;
    display: flex;
}
.result-form .result a{
    color: #444;
    overflow: auto;
    text-decoration: none;
    flex-grow: 1;
    padding: 5px 15px;
    border: 1px solid #777;
    margin-right: 20px;
}
.result-form .result a::-webkit-scrollbar {
    display:none
}
.result-form .result button{
    padding: 5px 20px;
    border: none;
    outline: none;
    background: #777;
    color: #fff;
    cursor: pointer;
}
.result-form .result button:hover{
    background: #888;
}